.header{
    background-image: url("./images/h_img.jpg");
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 350px;
    padding-bottom: 50px;
    color: white;
    text-decoration: solid;
}
.mouse{
    margin-top: 230px;
}
.about_us{
    text-align: center;
    line-height: 50px;
}
.services{
    background-image: url("./images/s_image.jpg");
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    line-height: 50px;
    padding-bottom: 50px;
    padding-top: 150px;
    background-size: cover;
}
.show1{
    display: none;
}
.show2{
    display: none; 
}
.show3{
    display: none;
}
.contact_us{
    text-align: center;
    background-image: url("./images/c_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 200px;
    margin-top: 5%;
    color: white;
}
#name-form{
    background-color: transparent;
}
#message-form{
    background-color: transparent;
    color: white;
}
.icons{
    text-align: center;
    justify-content: space-between;
}
.footer{
    text-align: center;
}
#design{
    text-align: center;
}
#develop{
    text-align: center;
}
#manage{
    text-align: center;
}
@media screen and (max-width: 600px){
 
}
.portfolio{
    display: flex;
    margin-top: 3%;
}
.displayin{
    color: black;
    opacity: 0.5;
    border: 3px solid white;
    background-color: white;
    -ms-transform: translate(-20%, -20%);
    transform: translate(-20%, -20%);
    position: absolute;
    height: 150px;
    width: 60%;
    font-weight: 700;
    top: 30%;
    left: 30%;
    right: 20%;
}
.pic{
    width: 250px;
}
::placeholder{
    color: white;
}


