.header{
    background-image: url("../js/images/h_img.jpg");
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 350px;
    padding-bottom: 50px;
    color: white;
}
.mouse{
    margin-top: 230px;
}
.about_us{
    text-align: center;
    line-height: 50px;
}
.services{
    background-image: url("../js/images/s_image.jpg");
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    line-height: 50px;
    padding-bottom: 50px;
    padding-top: 150px;
    background-size: cover;
}